


<header>
	<div class="housingmatchicon">
		<img src="imgs/noun_catherine-chestnut.png" alt="housing match icon">
	</div>
	<div class="fireplacetitle">
		<h1><a href="index.html">fireplace</a></h1>
		<h2 class="tagline">compatibility among friends for decent, affordable housing</h2>
	</div>
	<nav>
		<h3>sign up</h3>
		<h3>log in</h3>
	</nav>

</header>



<div class="container">
	<section class="sectionbox overview">
		<h2>find people. </br>
		... then love where you live.</h2>
		<button class="#">Create a Group</button>

		<a href="#"><button class="bttnbig">Create a Profile</button></a>

		<h3>Design a co-op that offers all this and more: </h3>
		<!-- <div class="flex-row-2"> -->
			<div class="benefit">
				<img src="imgs/noun_save-money_656080.png" alt="affordability">
				<p>affordability</p>
			</div>

			<div class="benefit">
				<img src="imgs/noun_buildings_313276.png" alt="private apartment">
			<p>private apartments</p>
			</div>

			<div class="benefit">
				<img src="imgs/noun_key_677345.png" alt="property ownership">
				<p>ownership</p>
			</div>

			<div class="benefit">
				<img src="imgs/noun_heart_550479.png" alt="support network">
				<p>support network</p>
			</div>
		<!-- </div> -->
	</section>

	<section class="browse">
		<h2>Browse People</h2>
		<div class="avatar-row">
			<div class="right-side-info">
				<div class="avatar">
					<img src="http://placekitten.com/85/85" alt="kitten">
				</div>
				<p>Opal M. <span class="light-weight-p">in Logan Square</span></p>
				<p><span class="light-weight-p">primary co-op goal: </span>to keep neighborhood affordable</p>
				<p><span class="light-weight-p">living preferences: </span>shared, communal</p>
				<p><span class="light-weight-p">dealbreaker: </span>not disclosed</p>
			</div>
			<div class="right-side-info">
				<div class="avatar">
					<img src="http://placekitten.com/100/100" alt="kitten">
				</div>
				<p>Opal M. <span class="light-weight-p">in Logan Square</span></p>
				<p><span class="light-weight-p">primary co-op goal: </span>to keep neighborhood affordable</p>
				<p><span class="light-weight-p">living preferences: </span>shared, communal</p>
				<p><span class="light-weight-p">dealbreaker: </span>not disclosed</p>
			</div>
			<div class="right-side-info">
				<div class="avatar">
					<img src="http://placekitten.com/105/105" alt="kitten">
				</div>
				<p>Opal M. <span class="light-weight-p">in Logan Square</span></p>
				<p><span class="light-weight-p">primary co-op goal: </span>to keep neighborhood affordable</p>
				<p><span class="light-weight-p">living preferences: </span>shared, communal</p>
				<p><span class="light-weight-p">dealbreaker: </span>not disclosed</p>
			</div>
			<div class="right-side-info">
				<div class="avatar">
					<img src="http://placekitten.com/110/110" alt="kitten">
				</div>
				<p>Opal M. <span class="light-weight-p">in Logan Square</span></p>
				<p><span class="light-weight-p">primary co-op goal: </span>to keep neighborhood affordable</p>
				<p><span class="light-weight-p">living preferences: </span>shared, communal</p>
				<p><span class="light-weight-p">dealbreaker: </span>not disclosed</p>
			</div>
		</div>
		<button class="bttnmed">Browse by Filter</button>
	</section>

	<section class="sectionbox">
		<h2>Create Your Profile</h2>
		<a href="profile-create.html"><button class="bttnmed">Continue</button></a>
	</section>

	<section class="discover">
		<h2>Discover Who You Know</h2>
		<p>Your friends may have a profile with us already. Login to FB, twitter or LinkedIn to find out!</p>
		<input type="text" name="discover" placeholder="Search By Name">

		<div class="socialmediaicon">

		</div>
		<div class="avatar-row">
			<div class="button-below-avatar">
				<div class="avatar">
					<img src="http://placekitten.com/70/70" alt="kitten">
				</div>
				<button class="bttnsm">Connect</button>
			</div>
			<div class="button-below-avatar">
				<div class="avatar">
					<img src="http://placekitten.com/80/80" alt="kitten">
				</div>
				<button class="bttnsm">Connect</button>
			</div>
			<div class="button-below-avatar">
				<div class="avatar">
					<img src="http://placekitten.com/90/90" alt="kitten">
				</div>
				<button class="bttnsm">Connect</button>
			</div>
			<div class="button-below-avatar">
				<div class="avatar">
					<img src="http://placekitten.com/95/95" alt="kitten">
				</div>
				<button class="bttnsm">Connect</button>
			</div>
		</div>


	</section>

	<section>
		<h2>Invite Friends - Is your group compatible?</h2>
		<input type="text" name="inviteemails" placeholder="Add email addresses separated by a comma">
		<button class="bttnmed">Send an Invitation</button>
		<button class="bttnmed">Share URL</button>
	</section>

</div> <!--/ "container" -->

<footer>

	<p>a project by RESUS | a collective</p>
	<p>Icon by Catherine Chestnut via The Noun Project</p>

</footer>
